<div class="secondary-informations">
    <div class="info"><img class="icone" src="../../assets/sunrise.svg" alt="sunrise" /> {{ sunRise }}</div>
    <div class="info"><img class="icone" src="../../assets/sunset.svg" alt="sunset" /> {{ sunSet }}</div>
    <div class="info"><img class="icone" src="../../assets/humidity.svg" alt="humidity" /> {{ humidity }} %</div>
    <div class="info"><img class="icone" src="../../assets/wind.svg" alt="wind" /> {{ windSpeed }} kph</div>
    <div class="info"><img class="icone" src="../../assets/precipitation.svg" alt="precipitation" /> {{ precipitation }} mm</div>
</div>